<navbar></navbar>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Usuarios</h2>
			<a href="admin/users/add/" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
			</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12">
			<div ui-grid="vm.users" class="myGrid"></div>			
		</div>
	</div>
</div>
