<navbar></navbar>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Restaurante</h1>
		</div>
		<div class="col-sm-12">
			<hr>
			<form class="form" name="form" ng-submit="vm.register(form)" novalidate>
				<div class="row">				
					<div class="col-sm-8">
						<div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
							<label>Nombre</label>

							<input type="text" name="name" class="form-control" ng-model="vm.restaurant.name" required/>
							<p class="help-block" ng-show="form.name.$error.required && vm.submitted">
								Nombre es requerido
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" ng-class="{ 'has-success': form.nit.$valid && vm.submitted, 'has-error': form.nit.$invalid && vm.submitted }">
							<label>Nit</label>

							<input type="text" name="nit" class="form-control" ng-model="vm.restaurant.nit" required/>
							<p class="help-block" ng-show="form.nit.$error.required && vm.submitted">
								Nit es requerido
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
							<label>Email</label>

							<input type="text" name="email" class="form-control" ng-model="vm.restaurant.email" required/>
							<p class="help-block" ng-show="form.email.$error.required && vm.submitted">
								Email es requerido
							</p>
						</div>					
					</div>
					<div class="col-sm-4">
						<div class="form-group" ng-class="{ 'has-success': form.phone.$valid && vm.submitted, 'has-error': form.phone.$invalid && vm.submitted }">
							<label>Teléfono</label>

							<input type="text" name="phone" class="form-control" ng-model="vm.restaurant.phone" required/>
							<p class="help-block" ng-show="form.phone.$error.required && vm.submitted">
								Teléfono es requerido
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group" ng-class="{ 'has-success': form.streetType.$valid && vm.submitted, 'has-error': form.streetType.$invalid && vm.submitted }">
							<label>Dirección</label>
							<select name="streetType" class="form-control" ng-model="vm.restaurant.address.streetType" required>
								<option value="{{streetType}}" ng-repeat="streetType in vm.streetTypes">{{streetType}}</option>
							</select>
							<p class="help-block" ng-show="form.streetType.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group" ng-class="{ 'has-success': form.num1.$valid && vm.submitted, 'has-error': form.num1.$invalid && vm.submitted }">
							<label>&nbsp;</label>
							<input type="text" name="num1" class="form-control" ng-model="vm.restaurant.address.num1" required/>
							<p class="help-block" ng-show="form.num1.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group">
							<label>&nbsp;</label>
							<h5 class="text-center">#</h5>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group" ng-class="{ 'has-success': form.num2.$valid && vm.submitted, 'has-error': form.num2.$invalid && vm.submitted }">
							<label>&nbsp;</label>
							<input type="text" name="num2" class="form-control" ng-model="vm.restaurant.address.num2" required/>
							<p class="help-block" ng-show="form.num2.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group">
							<label>&nbsp;</label>
							<h5 class="text-center">-</h5>
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group" ng-class="{ 'has-success': form.num3.$valid && vm.submitted, 'has-error': form.num3.$invalid && vm.submitted }">
							<label>&nbsp;</label>
							<input type="text" name="num3" class="form-control" ng-model="vm.restaurant.address.num3" required/>
							<p class="help-block" ng-show="form.num3.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" ng-class="{ 'has-success': form.address2.$valid && vm.submitted, 'has-error': form.address2.$invalid && vm.submitted }">
							<label>Barrio/Casa/Apartamento</label>

							<input type="text" name="address2" class="form-control" ng-model="vm.restaurant.address.address2" required/>
							<p class="help-block" ng-show="form.address2.$error.required && vm.submitted">
								Teléfono es requerido
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group" ng-class="{ 'has-success': form.category.$valid && vm.submitted, 'has-error': form.category.$invalid && vm.submitted }">
							<label>Categoria</label>
							<select name="category" class="form-control" ng-model="vm.restaurant.category" ng-options="o._id as o.name for o in vm.categories" required>
							</select>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group" ng-class="{ 'has-success': form.deliveryTime.$valid && vm.submitted, 'has-error': form.deliveryTime.$invalid && vm.submitted }">
							<label>Tiempo de entrega</label>

							<input type="number" name="deliveryTime" class="form-control" ng-model="vm.restaurant.deliveryTime" required/>
							<p class="help-block" ng-show="form.deliveryTime.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" ng-class="{ 'has-success': form.deliveryCharge.$valid && vm.submitted, 'has-error': form.deliveryCharge.$invalid && vm.submitted }">
							<label>Recargo del domicilio</label>

							<input type="text" name="deliveryCharge" class="form-control" ng-model="vm.restaurant.deliveryCharge" ng-currency min="0" fraction="0" required/>
							<p class="help-block" ng-show="form.deliveryCharge.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" ng-class="{ 'has-success': form.minimumOrder.$valid && vm.submitted, 'has-error': form.minimumOrder.$invalid && vm.submitted }">
							<label>Pedido Minimo</label>

							<input type="text" name="minimumOrder" class="form-control" ng-model="vm.restaurant.minimumOrder" ng-currency min="0" fraction="0" required/>
							<p class="help-block" ng-show="form.minimumOrder.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group" ng-class="{ 'has-success': form.active.$valid && vm.submitted, 'has-error': form.active.$invalid && vm.submitted }">
							<label>Activo</label>
							<select name="active" class="form-control" ng-model="vm.restaurant.active" ng-options="o.v as o.n for o in [{ n: 'Inactivo', v: false }, { n: 'Activo', v: true }]" required>
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group" ng-class="{ 'has-success': form.featured.$valid && vm.submitted, 'has-error': form.featured.$invalid && vm.submitted }">
							<label>Destacado</label>
							<select name="featured" class="form-control" ng-model="vm.restaurant.featured" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Si', v: true }]" required>
							</select>
						</div>
					</div>					
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group" ng-class="{ 'has-success': form.logo.$valid && vm.submitted, 'has-error': form.logo.$invalid && vm.submitted }">
							<label>Logo</label>

							<input type="file" name="logo" class="form-control"/>
							<p class="help-block" ng-show="form.logo.$error.required && vm.submitted">
								Campo requerido
							</p>
						</div>
						<hr>					
					</div>
				</div>
				<div class="menu-template" ng-include="'app/restaurants/add/menu.html'"></div>
				<hr>
				<div class="menu-template" ng-include="'app/restaurants/add/horario.html'"></div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label>Metodos de Pago</label>
							<div class="row">
								<div class="col-sm-2">
									<input type="checkbox" ng-model="vm.restaurant.paymentMethods.cash"> Efectivo
								</div>
								<div class="col-sm-2">
									<input type="checkbox" ng-model="vm.restaurant.paymentMethods.creditCard"> Tarjeta de Credito
								</div>								
							</div>
						</div>						
					</div>
				</div>

				<div>
					<button class="btn btn-inverse btn-lg btn-register" type="submit">
						Guardar
					</button>
				</div>
			</form>
		</div>
	</div>
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
</div>