<div class="row">
	<div class="col-sm-12">
		<h3>Horario</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Lunes</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.monday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.monday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Martes</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.tuesday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.tuesday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Miercoles</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.wednesday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.wednesday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Jueves</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.thursday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.thursday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Viernes</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.friday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.friday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Sabado</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.saturday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.saturday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-sm-12 col-sm-offset-1">
		<h4>Domingo</h4>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<div class="form-group">
			<label>Apertura</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.sunday.open"></uib-timepicker>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="form-group">
			<label>Cierre</label>

			<uib-timepicker ng-model="vm.restaurant.workingTime.sunday.closed"></uib-timepicker>
		</div>
	</div>
</div>
<hr>