<div class="menu" ng-repeat="(key, menu) in vm.restaurant.menu">
	<div class="row">
		<div class="col-sm-12">
			<h4>Menu</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-11">
			<div class="form-group" ng-class="{ 'has-success': form.menu{{key}}.$valid && vm.submitted, 'has-error': form.menu{{key}}.$invalid && vm.submitted }">
				<label>Título</label>

				<input type="text" name="menu{{key}}" class="form-control" ng-model="menu.title" required/>
				<p class="help-block" ng-show="form.menu{{key}}.$error.required && vm.submitted">
					Título es requerido
				</p>
			</div>
		</div>
		<div class="col-sm-1">
			<button type="button" class="btn btn-primary btn-sm" ng-click="vm.removeMenu(key)">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<h4>Platos</h4>
		</div>
	</div>
	<div class="dish" ng-repeat="(keyD, dish) in menu.dishes">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="form-group" ng-class="{ 'has-success': form.name{{key}}{{keyD}}.$valid && vm.submitted, 'has-error': form.name{{key}}{{keyD}}.$invalid && vm.submitted }">
					<label>Nombre</label>

					<input type="text" name="name{{key}}{{keyD}}" class="form-control" ng-model="dish.name" required/>
					<p class="help-block" ng-show="form.name{{key}}{{keyD}}.$error.required && vm.submitted">
						Nombre es requerido
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group" ng-class="{ 'has-success': form.price{{key}}{{keyD}}.$valid && vm.submitted, 'has-error': form.price{{key}}{{keyD}}.$invalid && vm.submitted }">
					<label>Precio</label>

					<input type="text" name="price{{key}}{{keyD}}" class="form-control" ng-model="dish.price" ng-currency min="0" fraction="0" required/>
					<p class="help-block" ng-show="form.price{{key}}{{keyD}}.$error.required && vm.submitted">
						Precio es requerido
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group" ng-class="{ 'has-success': form.img{{key}}{{keyD}}.$valid && vm.submitted, 'has-error': form.img{{key}}{{keyD}}.$invalid && vm.submitted }">
					<label>Foto</label>

					<input type="file" name="img{{key}}{{keyD}}" class="form-control" />
					<p class="help-block" ng-show="form.img{{key}}{{keyD}}.$error.required && vm.submitted">
						Campo requerido
					</p>
				</div>
			</div>							
			<div class="col-sm-1">
				<button type="button" class="btn btn-primary btn-sm" ng-click="vm.removeDish(key, keyD)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="form-group" ng-class="{ 'has-success': form.description{{key}}{{keyD}}.$valid && vm.submitted, 'has-error': form.description{{key}}{{keyD}}.$invalid && vm.submitted }">
					<label>Descripción</label>

					<textarea name="description{{key}}{{keyD}}" class="form-control" ng-model="dish.description" required></textarea>
					<p class="help-block" ng-show="form.description{{key}}{{keyD}}.$error.required && vm.submitted">
						Precio es requerido
					</p>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<button ng-click="vm.addDish(key)" class="btn btn-primary btn-block" type="button">Añadir Plato</button>
		</div>
	</div>
	<hr>
</div>
<div class="row">
	<div class="col-sm-3">
		<button ng-click="vm.addMenu()" class="btn btn-primary btn-block" type="button">Añadir Menu</button>
	</div>
</div>