<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Contactenos</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" name="form" ng-submit="vm.contact(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
          <label for="name" class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" ng-model="vm.contactForm.name" required>
            <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.company.$valid && vm.submitted, 'has-error': form.company.$invalid && vm.submitted }">
          <label for="email" class="col-sm-2 control-label">Razón Social</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="company" ng-model="vm.contactForm.company">
            <p class="help-block" ng-show="form.company.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.nit.$valid && vm.submitted, 'has-error': form.nit.$invalid && vm.submitted }">
          <label for="email" class="col-sm-2 control-label">Nit</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nit" ng-model="vm.contactForm.nit">
            <p class="help-block" ng-show="form.nit.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.address.$valid && vm.submitted, 'has-error': form.address.$invalid && vm.submitted }">
          <label for="email" class="col-sm-2 control-label">Dirección</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="address" ng-model="vm.contactForm.address">
            <p class="help-block" ng-show="form.address.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && vm.submitted, 'has-error': form.phone.$invalid && vm.submitted }">
          <label for="email" class="col-sm-2 control-label">Teléfono</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="phone" ng-model="vm.contactForm.phone" required>
            <p class="help-block" ng-show="form.phone.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" ng-model="vm.contactForm.email" required>
            <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.message.$valid && vm.submitted, 'has-error': form.message.$invalid && vm.submitted }">
          <label for="message" class="col-sm-2 control-label">Mensaje</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="4" maxlength="1000" name="message" ng-model="vm.contactForm.message" required></textarea>
            <p class="help-block" ng-show="form.message.$error.required && vm.submitted">
              Campo requerido
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div vc-recaptcha key="'6LdXwhwTAAAAAHgh8fa46On_VgYAFRL4wGV0LgRr'" ng-model="vm.contactForm.recaptcha"></div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
          <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary btn-lg btn-register" type="submit">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<footer></footer>
