<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Categorias</h1>
			<form class="form" name="form" ng-submit="vm.register(form)" novalidate>
				<div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
					<label>Nombre</label>

					<input type="text" name="name" class="form-control" ng-model="vm.category.name" required/>
					<p class="help-block" ng-show="form.name.$error.required && vm.submitted">
						Nombre es requerido
					</p>
				</div>
				<div>
					<button class="btn btn-inverse btn-lg btn-register" type="submit">
						Guardar
					</button>
				</div>
			</form>
		</div>
	</div>	
</div>