<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body style="margin:0; padding:0">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="font-family: Verdana, Geneva, sans-serif;">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
              <tr>
                <td align="center" valign="top" style="background:#FFFFFF">
                  <img src="http://s12.postimg.org/57pkvalal/2575c2ec_2f81_4f10_99d1_4e53b5533ab1.jpg" height="200" alt="" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
              <tr>
                <td valign="top" style="background:#d6d6d6;">
                  <h2 style="text-align:center;">
                    Nueva Mensaje!
                  </h2>
                  <div style="border: 1px solid #afaeae; padding: 10px;">
                    <p><b>Nombre:</b> {{name}}</p>
                    <p><b>Razón Social:</b> {{company}}</p>
                    <p><b>Nit:</b> {{nit}}</p>
                    <p><b>Dirección:</b> {{address}}</p>
                    <p><b>Teléfono:</b> {{phone}}</p>
                    <p><b>Email:</b> {{email}}</p>
                    <p><b>Mensaje:</b> {{message}}</p>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
              <tr>
                <td align="center" valign="top" style="background:#d6d6d6;">
                  todomicilio.com.co 2016
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>