<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body style="margin:0; padding:0">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="font-family: Verdana, Geneva, sans-serif;">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
              <tr>
                <td align="center" valign="top" style="background:#FFFFFF">
                  <img src="http://s12.postimg.org/57pkvalal/2575c2ec_2f81_4f10_99d1_4e53b5533ab1.jpg" height="200" alt="" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
              <tr>
                <td valign="top" style="background:#d6d6d6;">
                  <h2 style="text-align:center;">
                    Orden confirmada!
                    <small>
                      Tu domicilio llegará aproximadamente en {{restaurant.deliveryTime}} minutos
                    </small>
                  </h2>
                  <div style="border: 1px solid #afaeae; padding: 10px;">
                    <h3>Recibe:</h3>
                    <p><b>Nombre:</b> {{customer.name}}</p>
                    <p><b>Teléfono:</b> {{deliveryAddress.phone}}</p>
                    <p><b>Dirección:</b> {{deliveryAddress.description}}</p>
                    <p>{{deliveryAddress.streetType}} {{deliveryAddress.num1}} # {{deliveryAddress.num2}} - {{deliveryAddress.num3}}, {{deliveryAddress.address2}}</p>
                  </div>
                  <div style="border: 1px solid #afaeae; border-top:0; padding: 10px;">
                    <h3>Resumen de tu Orden</h3>
                    <table width="100%">
                      <tr>
                        <td width="30%"><b>Detalle</b></td>
                        <td width="40%"><b>Descripción</b></td>
                        <td style="text-align: right;"><b>Precio</b></td>
                      </tr>
                      {{#dishes}}
                      <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td style="text-align: right;">{{price}}</td>
                      </tr>
                      {{/dishes}}
                    </table>
                  </div>
                  <div style="border: 1px solid #afaeae; border-top:0; padding: 10px;">
                    <table width="100%">
                      <tr>
                        <td width="50%">Domicilio:</td>
                        <td style="text-align: right;">{{deliveryCharge}}</td>
                      </tr>
                      <tr>
                        <td>Subtotal:</td>
                        <td style="text-align: right;">{{subTotal}}</td>
                      </tr>
                      <tr>
                        <td><b>Total:</b></td>
                        <td style="text-align: right;">{{total}}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
              <tr>
                <td align="center" valign="top" style="background:#d6d6d6;">
                  todomicilio.com.co 2016
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>