<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Iniciar sesión</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Ingrese Email y Contraseña.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Ingrese un email valido.
          </p>

          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Enviar
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">
            Regístrese aquí
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
