<navbar></navbar>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Categorias</h2>
			<a href="admin/categories/add/" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
			</a>
		</div>
	</div>
	<hr>
	<div ui-grid="vm.categories" class="myGrid"></div>
</div>