<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Descarga gratis nuestra Aplicación en tu Celular</h3>
      <br>
    </div>
  </div>
  <div class="row badges">
    <div class="col-md-4 col-md-offset-2">
      <a href="https://itunes.apple.com/co/app/todomicilio.com.co/id1102617214?l=es&ls=1&mt=8" target="_blank">
        <img src="assets/images/app-store-badge.jpg">
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://play.google.com/store/apps/details?id=com.todomicilio.app" target="_blank">
        <img src="assets/images/google-play-badge.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>&nbsp;</p>
      <p>todomicilio.com.co | &#169; 2016</p>
    </div>
  </div>
</div>
