body{
  @media (max-width: 667px){
    overflow: hidden;
  }
}

footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;

  @media (max-width: 667px) {
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 50px;
  }

  .badges{
    & div{
      @media (max-width: 667px){
        margin: 30px 0;
      }

      img{
        @media (max-width: 667px){
          width: 90%;
        }
      }
    }
  }
}

.navbar-toggle{
  @media (max-width: 667px) {
    display: none;
  }
}
