@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

@light:                           #fff;
@stable:                          #f8f8f8;
@positive:                        #387ef5;
@calm:                            #11c1f3;
@balanced:                        #33cd5f;
@energized:                       #ffc900;
@assertive:                       #ef473a;
@royal:                           #886aea;
@dark:                            #444;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button{
	color: #fff;
	border: 0;
	padding: 5px;

	&:hover, &:focus, &.focus{
		color: #fff;
	}
}

.button-balanced{
	background: @balanced;
}

.button-assertive{
	background: @assertive;
}

// injector
@import 'about-us/about-us.less';
@import 'account/settings/addresses/addresses.less';
@import 'account/settings/orders/orders.less';
@import 'admin/admin.less';
@import 'categories/add/addCategory.less';
@import 'categories/categories.less';
@import 'contact-us/contact-us.less';
@import 'main/main.less';
@import 'orders/edit/editOrder.less';
@import 'orders/orders.less';
@import 'restaurant/restaurant.less';
@import 'restaurants/add/addRestaurant.less';
@import 'restaurants/restaurants.less';
@import 'users/add/add.less';
@import 'users/users.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
@import '../components/navbar/navbar.less';
@import '../components/restaurant/restaurant.less';
// endinjector
