<div class="modal-header">
  <h3 class="modal-title">Tu pedido!</h3>
</div>
<div class="modal-body">
  <div class="list-group">
    <div class="list-group-item">
      <div class="form-group">
        <label>Cambiar dirección</label>
        <select class="form-control" ng-model="orderHelper.selectedAddres" ng-change="orderHelper.selectedAddresChange()">
          <option value="">Seleccione una opción</option>
          <option value="{{key}}" ng-repeat="(key, address) in user.addresses" ng-selected="orderHelper.selectedAddres == key">
            {{address.description}}
          </option>
        </select>
      </div>
    </div>
    <div class="list-group-item">
      <p><b>Tu pedodo será enviado a:</b></p>
      <p>{{orderHelper.order.deliveryAddress.streetType}} {{orderHelper.order.deliveryAddress.num1}} # {{orderHelper.order.deliveryAddress.num2}} - {{orderHelper.order.deliveryAddress.num3}}, {{orderHelper.order.deliveryAddress.address2}}</p>
    </div>
    <div class="list-group-item check" ng-show="orderHelper.order.dishes.length">
      <div class="row">
        <div class="col-md-8">
          <small>Subtotal</small>
        </div>
        <div class="col-md-4">
          <small>{{orderHelper.order.subTotal | currency : $ : 0 }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <small>Recargo de envio</small>
        </div>
        <div class="col-md-4">
          <small>{{orderHelper.order.deliveryCharge | currency : $ : 0 }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <b>Total</b>
        </div>
        <div class="col-md-4">
          <b>{{orderHelper.order.total | currency : $ : 0 }}</b>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="sendOrder()">Finalizar pedido</button>
  <button class="btn btn-default" type="button" ng-click="close()">Cancel</button>
</div>