<h1>Pedido minimo</h1>
<p>Tu pedido es menor que la orden minima</p>
<div class="ngdialog-buttons">
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)">Ok</button>
</div>