#restaurant{
	header{
		.media-object{
			width: 150px;
			height: 150px;
			border: 1px solid #ddd;
			margin-right: 10px;
		}

		h1{
			margin-top: 0;
		}

		p{
			font-size: 12px;
		}
	}

	.dishes{
		.media-object{
			width: 150px;
			height: 150px;
		}

		.media-body{
			div:nth-child(2){
				text-align: right;
			}
		}
	}

	.list-group.order{
		.check{
			padding-bottom: 0;

			.confirm{
				margin-top: 10px;
				width: 100%;
				border-radius: 0;
			}
		}
	}
}
