<navbar></navbar>

<div id="restaurant" class="container">
  <div class="row">
    <div class="col-md-12">
      <header class="media">
        <div class="media-left">
          <img class="media-object" ng-src="/static/images/{{vm.restaurant.logo.path}}">
        </div>
        <div class="media-body">
          <h1>{{vm.restaurant.name}}</h1>
          <p>
            <b>Categoría:</b> {{vm.restaurant.category.name}}
          </p>
          <p>
            <b>Costo de envío:</b> {{vm.restaurant.deliveryCharge | currency : $ : 0 }}
          </p>
          <p>
            <b>Orden minima:</b> {{vm.restaurant.minimumOrder | currency : $ : 0 }}
          </p>
          <p>
            <b>Tiempo de entrega:</b> {{vm.restaurant.deliveryTime}} Minutos aproximadamente
          </p>
        </div>
      </header>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="list-group" sticky offset="15">
        <a class="list-group-item header">
          <b>Menú</b>
        </a>
        <a href="javascript:;" ng-click="vm.gotoAnchor(menu._id)" class="list-group-item" ng-repeat="menu in vm.restaurant.menu" ng-class="vm.currentMenu === menu._id ? 'active' : ''">{{menu.title}}</a>
      </div>
    </div>
    <div class="col-md-7">
      <ul class="list-group dishes" ng-repeat="(menuKey, menu) in vm.restaurant.menu" id="{{menu._id}}">
        <li class="list-group-item header">
          <b>{{menu.title}}</b>
        </li>
        <li class="list-group-item" ng-repeat="(dishKey, dish) in menu.dishes" ng-class="vm.currentMenu === menu._id ? 'active' : ''">
          <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src="/static/images/{{dish.img.path}}">
            </div>
            <div class="media-body">
              <div class="col-md-9">
                <h2>{{dish.name}}</h2>
                <p>{{dish.description}}</p>
              </div>
              <div class="col-md-3">
                <h2>&nbsp;</h2>
                <p>{{dish.price | currency : $ : 0}}</p>
                <p>
                  <button class="btn button button-assertive" ng-click="vm.orderHelper.addToCar(menuKey, dishKey)">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Pedir
                  </button>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="list-group order" sticky offset="15" stick-limit="true">
        <div class="list-group-item header">
          <b>Tu orden:</b>
        </div>
        <div class="list-group-item" ng-repeat="(key, dish) in vm.orderHelper.order.dishes">
          <div class="row">          
            <div class="col-md-10">
              <p>
                <small><b>{{dish.name}}</b> {{dish.price | currency : $ : 0}}</small>
              </p>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn button btn-xs button-assertive" ng-click="vm.orderHelper.removeToCar(key)">
                <span class="glyphicon glyphicon-remove"></span> 
              </button>
            </div>
          </div>
        </div>
        <div class="list-group-item check" ng-show="vm.orderHelper.order.dishes.length">
          <div class="row">
            <div class="col-md-8">
              <small>Subtotal</small>
            </div>
            <div class="col-md-4">
              <small>{{vm.orderHelper.order.subTotal | currency : $ : 0 }}</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <small>Recargo de envio</small>
            </div>
            <div class="col-md-4">
              <small>{{vm.orderHelper.order.deliveryCharge | currency : $ : 0 }}</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <b>Total</b>
            </div>
            <div class="col-md-4">
              <b>{{vm.orderHelper.order.total | currency : $ : 0 }}</b>
            </div>
          </div>
          <div class="row">
            <button type="button" class="btn button button-balanced confirm" ng-click="vm.orderHelper.orderModalToAddress()">Confirmar pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
