<div id="navTop" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">todomicilio.com.co</a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
            <a ng-hide="nav.isAdmin()" ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin/users')}"><a href="/admin/users">Usuarios</a></li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin/restaurants')}"><a href="/admin/restaurants">Restaurantes</a></li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin/categories')}"><a href="/admin/categories">Categorias</a></li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin/orders')}"><a href="/admin/orders">Pedidos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Registrarse</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Iniciar sesión</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hola {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}">
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="/settings/addresses">Direcciónes</a></li>
              <li role="menuitem"><a href="/settings/password">Contraseña</a></li>
              <li role="menuitem"><a href="/settings/orders">Pedidos</a></li>
            </ul>
          </div>
        </li>
        <li ng-show="nav.isLoggedIn()"><a href="/logout">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</div>
