#navTop{
  background-color: #fff;

  .navbar-brand{
    background-image: url('../assets/images/icon.png');
    background-size: 50px, auto;
    background-repeat: no-repeat;
    padding-left: 55px;
  }

  .btn-group{
  	margin-top: 8px;
  }
}