<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Orden # {{vm.order._id | limitTo : 4 : vm.order.length -4 | uppercase}}</h1>
			<hr>
			<h3>Restaurante</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">
			<p><b>Nombre:</b></p>
		</div>
		<div class="col-sm-2">
			{{vm.order.restaurant.name}}
		</div>
		<div class="col-sm-1">
			<p><b>Dirección:</b></p>
		</div>
		<div class="col-sm-3">
			{{vm.order.restaurant.address.streetType}} {{vm.order.restaurant.address.num1}} # {{vm.order.restaurant.address.num2}} - {{vm.order.restaurant.address.num3}}, {{vm.order.restaurant.address.address2}}
		</div>
		<div class="col-sm-1">
			<p><b>Teléfono:</b></p>
		</div>
		<div class="col-sm-2">
			{{vm.order.restaurant.phone}}
		</div>
		<div class="col-sm-1">
			<p><b>Entrega:</b></p>
		</div>
		<div class="col-sm-1">
			{{vm.order.restaurant.deliveryTime}} Mins
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<hr>
			<h3>Cliente</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">
			<p><b>Nombre:</b></p>
		</div>
		<div class="col-sm-2">
			{{vm.order.customer.name}}
		</div>
		<div class="col-sm-1">
			<p><b>Dirección:</b></p>
		</div>
		<div class="col-sm-3">
			{{vm.order.deliveryAddress.description}}, {{vm.order.deliveryAddress.streetType}} {{vm.order.deliveryAddress.num1}} # {{vm.order.deliveryAddress.num2}} - {{vm.order.deliveryAddress.num3}}, {{vm.order.deliveryAddress.address2}}
		</div>
		<div class="col-sm-1">
			<p><b>Teléfono:</b></p>
		</div>
		<div class="col-sm-2">
			{{vm.order.deliveryAddress.phone}}
		</div>
		<div class="col-sm-1">
			<p><b>Pago en:</b></p>
		</div>
		<div class="col-sm-1">
			{{vm.order.paymentMethod}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<hr>
			<h3>Orden</h3>
		</div>
	</div>
	<div class="row" ng-repeat="dish in vm.order.dishes">
		<div class="col-sm-1">
			<p><b>Plato:</b></p>
		</div>
		<div class="col-sm-2">
			{{dish.name}}
		</div>
		<div class="col-sm-1">
			<p><b>Precio:</b></p>
		</div>
		<div class="col-sm-1">
			{{dish.price | currency : $ : 0}}
		</div>
		<div class="col-sm-1">
			<p><b>Descripcion:</b></p>
		</div>
		<div class="col-sm-6">
			{{dish.description}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1">
			<p><b>Recargo:</b></p>
		</div>
		<div class="col-sm-2">
			{{vm.order.deliveryCharge | currency : $ : 0}}
		</div>
		<div class="col-sm-1">
			<p><b>Total:</b></p>
		</div>
		<div class="col-sm-2">
			{{vm.order.total | currency : $ : 0}}
		</div>
		<div class="col-sm-offset-2 col-sm-1">
			<p><b>Estatus:</b></p>
		</div>
		<div class="col-sm-2">
			<select class="form-control" ng-model="vm.order.status">
				<option value="Pending">Pediente</option>
				<option value="Confirmed">Confirmado</option>
				<option value="Rejected">Rechazado</option>
			</select>
		</div>
		<div class="col-sm-1">
			<button class="btn btn-inverse btn-register" type="button" ng-click="vm.update();">
				Actualizar
			</button>
		</div>
	</div>
	<hr>
</div>