restaurant{
	&:hover{
		background: #f5f5f5;
	}

	a{
		color: #333333;
		text-decoration: none;

		&:hover{
			color: inherit;
			text-decoration: none;
		}
	}

	.media-object{
		width: 150px;
		height: 150px;
	}

	.isOpen{
		position: absolute;
		right: 0;
		top: 0;

		& > button{
			border-radius: 0;
		}
	}
}