<a ng-href="{{ restaurant.isOpen ? '/restaurant/' + restaurant._id : '' }}">
  <div class="media">
    <div class="media-left">
        <img class="media-object" ng-src="/static/images/{{restaurant.logo.path}}">
    </div>
    <div class="media-body">
      <h2>{{restaurant.name}}</h2>
      <p>{{restaurant.category.name}}</p>
      <p>Orden Minima {{restaurant.minimumOrder | currency : $ : 0}}</p>
      <div class="isOpen">
        <button ng-if="restaurant.isOpen" class="button button-small button-balanced">
          Abierto
        </button>
        <button ng-if="!restaurant.isOpen" class="button button-small button-assertive">
          Cerrado
        </button>
      </div>
    </div>
  </div>
</a>