<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>¿Quienes Somos?</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
		<p>Somos una empresa llanera con un producto y servicio desarrollado  100% en Villavicencio, ofrecemos a nuestros clientes cuya actividad comercial es la venta de comida preparada nuevas herramientas para acceder a nuevos mercados, aumentando la competitividad, buscando incrementar sus ventas con nuevos clientes y fidelizar los actuales con nuestros servicios de App Móvil, Web y entregas a Domicilio, nuestro objetivo es apoyar e impulsar mediante nuestros servicios el comercio y comerciantes de nuestra región.</p>
		<p>A nuestros usuarios de App móvil, Web y Domicilios brindamos un excelente servicio con la opción de encontrar en un solo sitio los mejores restaurantes de la ciudad, en él pueden pedir comida de forma fácil, rápida y segura complementado con el servicio de entregas a domicilio y respaldados en nuestro sistema de gestión que garantiza que el transporte de los alimentos y las entregas en la puerta de su hogar o empresa sea un servicio confiable y rápido, comprometidos con la calidad del producto al momento del transporte tal como se recibe del restaurante o establecimiento seleccionado.</p>
   </div>
  </div>
</div>

<footer></footer>
