<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Restaurantes</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a class="list-group-item header">
          <b>Categoría</b>
        </a>
        <a href="javascript:;" class="list-group-item" ng-click="main.filterRestaurants('')">Todas</a>
        <a href="javascript:;" class="list-group-item" ng-repeat="category in main.categories" ng-click="main.filterRestaurants(category._id)" ng-class="main.currentCategory === category._id ? 'active' : ''">{{category.name}}</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="list-group">
        <restaurant class="list-group-item" ng-repeat="restaurant in main.restaurants | filter: {category: {_id: main.currentCategory}} | orderBy: ['-isOpen', '-featured']" ng-if="restaurant.active"></restaurant>
      </div>
    </div>
  </div>
</div>

<footer></footer>
