<navbar></navbar>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Mis ordenes</h1>
			<hr>
		</div>
		<div class="col-sm-12">
			<div class="list-group">
				<div class="list-group-item" ng-repeat="order in vm.orders">
					<div class="row">
						<div class="col-sm-8">
							<p><b>{{order.restaurant.name}}, Orden # {{order._id | limitTo : 4 : order.length -4 | uppercase}}</b></p>
							<p>{{order.deliveryAddress.streetType}} {{order.deliveryAddress.num1}} # {{order.deliveryAddress.num2}} - {{order.deliveryAddress.num3}} - {{order.deliveryAddress.address2}}</p>
							<p>
								<span am-time-ago="order.createdAt"></span>
							</p>
						</div>
						<div class="col-sm-4 col-bottom">
							<p><b>Sub total:</b> {{order.subTotal | currency : $ : 0 }}</p>
							<p><b>Total:</b> {{order.total | currency : $ : 0 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer></footer>
