<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Registro</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                                'has-error': form.name.$invalid && vm.submitted }">
              <label>Nombre</label>

              <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                     required/>
              <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
                Campo requerido
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                                'has-error': form.email.$invalid && vm.submitted }">
              <label>Email</label>

              <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                     required
                     mongoose-error/>
              <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                No es un email valido
              </p>
              <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                Campo requerido
              </p>
              <p class="help-block" ng-show="form.email.$error.mongoose">
                {{ vm.errors.email }}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
            <h4>Dirección</h4>
          </div>
        </div>
        <div class="addresses">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group" ng-class="{ 'has-success': form.description.$valid && vm.submitted,
                                                'has-error': form.description.$invalid && vm.submitted }">
                    <label>Descripción</label>
                    <input type="text" name="description" class="form-control" ng-model="vm.user.addresses[0].description" required/>
                    <p class="help-block" ng-show="form.description.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && vm.submitted,
                                                'has-error': form.phone.$invalid && vm.submitted }">
                    <label>Teléfono</label>
                    <input type="text" name="phone" class="form-control" ng-model="vm.user.addresses[0].phone" required/>
                    <p class="help-block" ng-show="form.phone.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group" ng-class="{ 'has-success': form.streetType.$valid && vm.submitted,
                                                'has-error': form.streetType.$invalid && vm.submitted }">
                    <label>Dirección</label>
                    <select name="streetType" class="form-control" ng-model="vm.user.addresses[0].streetType" required>
                      <option value="{{streetType}}" ng-repeat="streetType in vm.streetTypes">{{streetType}}</option>
                    </select>
                    <p class="help-block" ng-show="form.streetType.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group" ng-class="{ 'has-success': form.num1.$valid && vm.submitted,
                                                'has-error': form.num1.$invalid && vm.submitted }">
                    <label>&nbsp;</label>
                    <input type="text" name="num1" class="form-control" ng-model="vm.user.addresses[0].num1" required/>
                    <p class="help-block" ng-show="form.num1.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <h5 class="text-center">#</h5>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group" ng-class="{ 'has-success': form.num2.$valid && vm.submitted,
                                                'has-error': form.num2.$invalid && vm.submitted }">
                    <label>&nbsp;</label>
                    <input type="text" name="num2" class="form-control" ng-model="vm.user.addresses[0].num2" required/>
                    <p class="help-block" ng-show="form.num2.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <h5 class="text-center">-</h5>
                  </div>
                </div>
                <div class="col-sm-1">
                  <div class="form-group" ng-class="{ 'has-success': form.num3.$valid && vm.submitted,
                                                'has-error': form.num3.$invalid && vm.submitted }">
                    <label>&nbsp;</label>
                    <input type="text" name="num3" class="form-control" ng-model="vm.user.addresses[0].num3" required/>
                    <p class="help-block" ng-show="form.num3.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group" ng-class="{ 'has-success': form.address2.$valid && vm.submitted,
                                                'has-error': form.address2.$invalid && vm.submitted }">
                    <label>Barrio/Casa/Apartamento</label>
                    <input type="text" name="address2" class="form-control" ng-model="vm.user.addresses[0].address2" required/>
                    <p class="help-block" ng-show="form.address2.$error.required && vm.submitted">
                      Campo requerido
                    </p>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                                'has-error': form.password.$invalid && vm.submitted }">
              <label>Contraseña</label>

              <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                     ng-minlength="3"
                     required
                     mongoose-error/>
              <p class="help-block"
                 ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
                La contraseña debe tener minimo 3 caracteres
              </p>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ vm.errors.password }}
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                                'has-error': form.confirmPassword.$invalid && vm.submitted }">
              <label>Confirmar contraseña</label>
              <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                     match="vm.user.password"
                     ng-minlength="3" required/>
              <p class="help-block"
                 ng-show="form.confirmPassword.$error.match && vm.submitted">
                Las contraseñas no coinciden
              </p>
            </div>
          </div> 
        </div>

        <div>
          <button class="btn btn-primary btn-lg btn-register" type="submit">
            Continuar
          </button>
          <a class="btn btn-default btn-lg btn-login" href="/login">
            Iniciar Sesión
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
