<div class="modal-header">
	<button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
	<h4>Confirmacion</h4>
</div>
<div class="modal-body">
	<p>Seguro que desea eliminar?</p>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" type="button" ng-click="delete()">OK</button>
	<button class="btn btn-default" type="button" ng-click="close()">Cancel</button>
</div>