<div class="ui-grid-cell-contents">
	<button type="button" class="btn btn-danger" ng-click="grid.appScope.vm.fireDeleteModal(row.entity['_id'])">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
</div>