<navbar></navbar>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Usuario</h1>
		</div>
		<div class="col-sm-12">
			<form class="form" name="form" ng-submit="vm.register(form)" novalidate>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
																								'has-error': form.name.$invalid && vm.submitted }">
							<label>Nombre</label>

							<input type="text" name="name" class="form-control" ng-model="vm.user.name"
										 required/>
							<p class="help-block" ng-show="form.name.$error.required && vm.submitted">
								Nombre es requerido
							</p>
						</div>						
						<div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
																								'has-error': form.email.$invalid && vm.submitted }">
							<label>Email</label>

							<input type="email" name="email" class="form-control" ng-model="vm.user.email"
										 required
										 mongoose-error/>
							<p class="help-block" ng-show="form.email.$error.email && vm.submitted">
								No es un email valido.
							</p>
							<p class="help-block" ng-show="form.email.$error.required && vm.submitted">
								Email requerido
							</p>
							<p class="help-block" ng-show="form.email.$error.mongoose">
								{{ vm.errors.email }}
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
																								'has-error': form.password.$invalid && vm.submitted }">
							<label>Contraseña</label>

							<input type="password" name="password" class="form-control" ng-model="vm.user.password"
										 mongoose-error/>
							<p class="help-block"
								 ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
								La contraseña debe ser mayor a 3 caracteres.
							</p>
							<p class="help-block" ng-show="form.password.$error.mongoose">
								{{ vm.errors.password }}
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
																								'has-error': form.confirmPassword.$invalid && vm.submitted }">
							<label>Confirmar Contraseña</label>
							<input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
										 match="vm.user.password"/>
							<p class="help-block"
								 ng-show="form.confirmPassword.$error.match && vm.submitted">
								La contraseñas no coinciden.
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': form.role.$valid && vm.submitted,
																								'has-error': form.role.$invalid && vm.submitted }">
							<label for="role">Rol</label>
							<select name="role" class="form-control" ng-model="vm.user.role" required>
								<option value="admin" selected>Aministrador</option>
								<option value="user">Usuario</option>
							</select>
						</div>
					</div>
				</div>
				<div class="addresses-template" ng-include="'app/users/add/addresses.html'"></div>
				<div>
					<button class="btn btn-inverse btn-lg btn-register" type="submit">
						Guardar
					</button>
				</div>
			</form>
		</div>
	</div>
	<hr>
</div>