<div class="row">
	<div class="col-sm-12">
		<h4>Direcciónes</h4>
	</div>
</div>
<div class="addresses" ng-repeat="(key, address) in vm.user.addresses">
	<div class="row">
		<hr>
		<div class="col-sm-11">
			<div class="row">
				<div class="col-sm-8">
					<div class="form-group" ng-class="{ 'has-success': form.description{{key}}.$valid && vm.submitted,
												'has-error': form.description{{key}}.$invalid && vm.submitted }">
						<label>Descripción</label>
						<input type="text" name="description{{key}}" class="form-control" ng-model="address.description" required/>
						<p class="help-block" ng-show="form.description{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group" ng-class="{ 'has-success': form.phone{{key}}.$valid && vm.submitted,
												'has-error': form.phone{{key}}.$invalid && vm.submitted }">
						<label>Teléfono</label>
						<input type="text" name="phone{{key}}" class="form-control" ng-model="address.phone" required/>
						<p class="help-block" ng-show="form.phone{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group" ng-class="{ 'has-success': form.streetType{{key}}.$valid && vm.submitted,
												'has-error': form.streetType{{key}}.$invalid && vm.submitted }">
						<label>Dirección</label>
						<select name="streetType{{key}}" class="form-control" ng-model="address.streetType" required>
							<option value="{{streetType}}" ng-repeat="streetType in vm.streetTypes">{{streetType}}</option>
						</select>
						<p class="help-block" ng-show="form.streetType{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group" ng-class="{ 'has-success': form.num1{{key}}.$valid && vm.submitted,
												'has-error': form.num1{{key}}.$invalid && vm.submitted }">
						<label>&nbsp;</label>
						<input type="text" name="num1{{key}}" class="form-control" ng-model="address.num1" required/>
						<p class="help-block" ng-show="form.num1{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>&nbsp;</label>
						<h5 class="text-center">#</h5>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group" ng-class="{ 'has-success': form.num2{{key}}.$valid && vm.submitted,
												'has-error': form.num2{{key}}.$invalid && vm.submitted }">
						<label>&nbsp;</label>
						<input type="text" name="num2{{key}}" class="form-control" ng-model="address.num2" required/>
						<p class="help-block" ng-show="form.num2{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label>&nbsp;</label>
						<h5 class="text-center">-</h5>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group" ng-class="{ 'has-success': form.num3{{key}}.$valid && vm.submitted,
												'has-error': form.num3{{key}}.$invalid && vm.submitted }">
						<label>&nbsp;</label>
						<input type="text" name="num3{{key}}" class="form-control" ng-model="address.num3" required/>
						<p class="help-block" ng-show="form.num3{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group" ng-class="{ 'has-success': form.address2{{key}}.$valid && vm.submitted,
												'has-error': form.address2{{key}}.$invalid && vm.submitted }">
						<label>Barrio/Casa/Apartamento</label>
						<input type="text" name="address2{{key}}" class="form-control" ng-model="address.address2" required/>
						<p class="help-block" ng-show="form.address2{{key}}.$error.required && vm.submitted">
							Campo requerido
						</p>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-sm-1">
			<div>
				<label>&nbsp;</label>
			</div>
			<button type="button" class="btn btn-primary btn-sm" ng-click="vm.removeAddress(key, keyD)">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>		
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<button ng-click="vm.addAddress()" class="btn btn-primary btn-block" type="button">Añadir Dirección</button>
	</div>
</div>
<hr>